<div class="container py-4 h-100 d-flex flex-column">
  <div class="flex-grow-0">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="m-0 fw-600" translate="security_dashboard.dash.users"></h4>
      <button (click)="onAdd()" type="button"
        class="btn d-flex align-items-center gap-2 btn-primary py-2 px-4 rounded-8">
        <ion-icon name="add" class="add"></ion-icon>
        <span translate="security_dashboard.dash.add_new_user"></span>
      </button>
    </div>
  </div>

  <app-tab-layout [list]="list" class="mt-3"></app-tab-layout>
</div>

<!-- -------------------------------- curd --------------------------------- -->

<public-api-canvas [id]="canvasId">
  <div class="py-4">
    <form [formGroup]="guardForm" #form="ngForm" (ngSubmit)="onSubmit(guardForm)"
      (keydown.enter)="$event.preventDefault()">
      <h5 class="fw-600 text-align-center text-primary mb-4 mt-2" translate="security_dashboard.dash.add_new_user"></h5>



      <!--? -------------------------------- logo --------------------------------- -->
       <div class="my-4">
        <div class="file bg-info-o col-12 rounded-8 text-info" [style.backgroundImage]="'url(' + profileImage + ')'"
        (change)="onImageUpload($event)" (click)="personImage.click()">
        <input type="file" #personImage hidden accept="image/x-png,image/gif,image/jpeg" />
        <div class="container" *ngIf="!profileImage">
          <i class="fa-solid fa-user fs-2"></i>
          <div class="fs-14 mt-3">
            {{ "click_to_upload_profile_image" | translate }}
          </div>
        </div>
      </div>

      <div class="error-message" *ngIf="controls['profileImageId'].invalid && form.submitted"
        [innerHtml]="'validation.image_required' | translate"></div>
      <div class="error-message" *ngIf="controls['profileImageId'].errors?.notValid"
        [innerHtml]="'validation.image_invalid' | translate"></div>
</div> 
      <!--? -------------------------------- Firstname --------------------------------- -->
      <div class="mb-3 row">
        <div class="form-floating col-4">
          <div class="form-floating">
            <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="data" />
            <label style="padding-right: 5px;" for="firstName" translate="firstName"></label>
            <div *ngIf="form.submitted &&  controls['firstName']?.errors?.required" class="error-message"
              [innerHtml]="'validation.first_name_required' | translate"></div>
             
              <div *ngIf="form.submitted &&  controls['firstName']?.errors?.pattern" class="error-message">
                <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
                {{ 'validation.not_valid_to_use' | translate }}
              </div>
            
            
          </div>
        </div>
        <!--------------------------------------middleName------------------------------------->
        <div class="form-floating col-4">
          <input type="text" formControlName="middleName" class="form-control" id="middleName" placeholder="data" />
          <label for="middleName" translate="middle_name"></label>
          
            <div *ngIf=" form.submitted && controls['middleName']?.errors?.required" class="error-message"
              [innerHtml]="'validation.middle_name_required' | translate"></div>
             
              <div *ngIf="form.submitted && controls['middleName']?.errors?.pattern" class="error-message">
                <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
                {{ 'validation.not_valid_to_use' | translate }}
              
            
            </div>
          </div>
      
        <!--------------------------------------lastName------------------------------------->
        <div class="form-floating col-4">
          <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="data" />
          <label for="lastName" translate="lastName"></label>
          <div *ngIf="form.submitted && controls['lastName']?.errors?.required" class="error-message"
            [innerHtml]="'validation.last_name_required' | translate"></div>
          <div *ngIf="form.submitted && controls['lastName']?.errors?.pattern" class="error-message">
            <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
            {{ 'validation.not_valid_to_use' | translate }}
          </div>
        </div>



      </div>
      <!--? -------------------------------- nationalID --------------------------------- -->

      <div class="mb-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="nationalID" placeholder="National ID"
            formControlName="nationalID" />
          <label for="nationalID">
            {{ "national_id" | translate }}
          </label>
        </div>

        <div class="error-message" *ngIf="controls['nationalID']?.errors?.required && form.submitted"
          [innerHtml]="'validation.national_id_not_valid' | translate"></div>

      </div> 
      <!--? -------------------------------- Birthday --------------------------------- -->
      <div class="mb-3">
        <div class="form-floating">
          <!-- <app-islamic-date [FormControl]="BirthDate"></app-islamic-date>  -->
          <hijri-gregorian-datepicker
          [label]="'Birth Date'"
          [(selectedDate)]="selectedDate"
          [isRequired]="true"
          [GregLabel]="'Gregorian'"
          [hijriLabel]  ="'Hijri'"
          [selectedDateType]="selectedDateType"
          #datePicker>
   </hijri-gregorian-datepicker>`
   
          <!-- <div class="error-message" *ngIf="controls['birthDate'].invalid && form.submitted"
            [innerHtml]="'validation.birth_date_required' | translate"></div> -->
        </div>
      </div>

      <!--? -------------------------------- Email --------------------------------- -->
       <div class="mb-3">
        <div class="form-floating">
          <input type="email" class="form-control" id="Email" placeholder="Email" formControlName="email" />
          <label for="Email">
            {{ "email" | translate }}
          </label>
        </div>
        
          <div class="error-message" *ngIf="form.submitted && controls['email']?.errors?.required"
            [innerHtml]="'validation.email_required' | translate"></div>
          <div class="error-message" *ngIf="form.submitted && controls['email']?.errors?.email"
            [innerHtml]="'validation.email_invalid' | translate"></div>
        
      </div> 

      <!--? -------------------------------- gender &blood --------------------------------- -->
       <div class="mb-3 row">
        <div class="form-floating col-6">
          <p-dropdown [filter]="true" filterBy="name" styleClass="w-100" [optionLabel]="isAr ? 'name' : 'nameEN'"
            optionValue="id" [options]="genders" [placeholder]="'gender' | translate" formControlName="genderId">
          </p-dropdown>
        </div>
        <div class="error-message" *ngIf="controls['genderId'].invalid && form.submitted"
          [innerHtml]="'validation.gender_required' | translate"></div>

        <div class="form-floating col-6">
          <p-dropdown [filter]="true" filterBy="name" styleClass="w-100" [optionLabel]="isAr ? 'name' : 'nameEN'"
            optionValue="id" [options]="bloodTypes" [placeholder]="'blood_type' | translate"
            formControlName="bloodTypeId"></p-dropdown>
          <div class="error-message" *ngIf="controls['bloodTypeId'].invalid && form.submitted"
            [innerHtml]="'validation.blood_type_required' | translate"></div>
        </div>
      </div>

      <!--? ----------------------------- Nationality ----------------------------- -->
       <div class="mb-3">
        <div class="form-floating">
          <p-dropdown [filter]="true" filterBy="name" styleClass="w-100" [optionLabel]="isAr ? 'name' : 'nameEN'"
            optionValue="id" [options]="nationalities" [placeholder]="'nationality' | translate"
            formControlName="nationalityId" (ngModelChange)="loadCities($event)"></p-dropdown>
        </div>

        <div class="error-message" *ngIf="controls['nationalityId'].invalid && form.submitted"
          [innerHtml]="'validation.nationality_required' | translate"></div>
      </div> 

      <!--? -------------------------------- city --------------------------------- -->
       <div class="mb-3">
        <div class="form-floating">
          <p-dropdown [filter]="true" filterBy="name" styleClass="w-100" [optionLabel]="isAr ? 'name' : 'nameEN'"
            optionValue="id" [options]="cities" [placeholder]="'city' | translate" formControlName="cityId">
          </p-dropdown>
        </div>

        <div class="error-message" *ngIf="controls['cityId'].invalid && form.submitted"
          [innerHtml]="'validation.city_required' | translate"></div>
      </div> 



      <!--? --------------------------------- job --------------------------------- -->
      <div>
        <div class="form-floating">
          <p-dropdown [filter]="true" filterBy="name" styleClass="w-100" [optionLabel]="isAr ? 'name' : 'nameEN'"
            optionValue="id" [options]="jobTypes" [placeholder]="'job_type' | translate" formControlName="jobTypeId">
          </p-dropdown>
        </div>
        <div class="error-message" *ngIf="controls['jobTypeId'].invalid && form.submitted"
          [innerHtml]="'validation.job_type_required' | translate"></div>
      </div>

      <div class="d-flex gap-2 justify-content-end mt-4">
        <button type="reset" data-bs-dismiss="offcanvas" class="btn bg-info-o text-primary rounded-10"
          translate="cancel"></button>
        <button type="submit" class="btn btn-primary rounded-10" translate="add"></button>
      </div>


    </form>
  </div>
</public-api-canvas>