<div class="h-100 ps-md-5 py-5 logo-white">
  <div class="container h-75">
    <form
      class="h-100 pt-5"
      [formGroup]="registerForm"
      #form="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="d-flex gap-3 align-items-center mb-4">
        <button
          [routerLink]="['/']"
          type="button"
          class="btn bg-info-o rounded-8"
        >
          <img
            src="assets/images/icons/dark_arrow.png"
            class="rtl-flip"
            width="20"
            alt=""
          />
        </button>
        <div class="text-info">
          {{ "back_to_login2" | translate }}
        </div>
      </div>

      <div class="d-flex flex-column c-gap-2_5 mt-5 h-100">
        <div>
          <h4 class="fw-700 text-primary">
            {{ "signup_to_continue" | translate }}
          </h4>
          <p class="text-info">
            {{ "fill_details" | translate }}
          </p>
        </div>
        <div>
          <div class="form-floating">
            <div class="form-control d-flex">
              <select
                class="form-select py-0 w-fit"
                style="width: 80px"
                id="floatingSelect"
                [formControl]="code"
              >
                <option [value]="item.prefixCode" *ngFor="let item of codes">
                  {{ item.ioS2 }}
                </option>
              </select>
              <input
                type="text"
                id="phone"
                class="form-control rounded-0 col p-0"
                formControlName="mobileNumber"
              />
            </div>
            <label for="phone">
              {{ "mobile_number" | translate }}
            </label>
          </div>

          <div *ngIf="MobileNumber.invalid && form.submitted">
            <div
              class="error-message"
              *ngIf="MobileNumber.errors.pattern && form.submitted"
              [innerHtml]="'validation.phone_is_not_valid' | translate"
            ></div>

            <div
              class="error-message"
              *ngIf="MobileNumber.errors.required && form.submitted"
              [innerHtml]="'validation.phone_required' | translate"
            ></div>
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="btn btn-primary py-2 d-flex align-items-center gap-4 rounded-8"
          >
            <span>{{ "send_otp" | translate }}</span>
            <img
              src="assets/images/icons/arrow.png"
              class="img-fluid d-block rtl-flip"
              alt="arrow"
            />
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<public-api-modal [id]="modalId" classList="modal-dialog-centered">
  <img
    src="assets/images/icons/otp.png"
    alt="email"
    height="50"
    class="d-block"
  />
  <h5 class="mt-3 fw-700 mb-0">{{ errorMessage }}</h5>
  <p
    class="mt-3 fs-18 fw-500 mb-4"
    translate="validation.plz_enter_a_valid_number"
  ></p>
  <div class="d-flex gap-2 justify-content-end">
    <button
      (click)="resetForm()"
      type="button"
      data-bs-dismiss="modal"
      class="btn bg-primary py-2 px-4 text-white rounded-8"
    >
      <span translate="continue"></span>
    </button>
  </div>
</public-api-modal>
