@import "libs/assets/styles/variables.scss";

.dashed {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%238A8AA5FF' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 8px;
  border: 0;
  padding: 1rem 2.5rem;
  cursor: pointer;
}

ion-icon.add {
  --ionicon-stroke-width: 5rem;
}

.f-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "form"
    "buttons";
}
.form {
  grid-area: form;
}
.buttons {
  grid-area: buttons;
}

.flex-item {
  flex: 1;
}
