<div class="h-100 d-flex flex-column">
  <div class="flex-grow-0">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="m-0 fw-600" translate="job.manage_jobs"></h4>
      <button type="button" (click)="onAddMode()"
        class="btn d-flex align-items-center gap-2 btn-primary py-2 px-4 rounded-8">
        <ion-icon name="add" class="add"></ion-icon>
        {{ "job.create_new_jobs" | translate }}
      </button>
    </div>
  </div>

  <!-- ------------------------------- content ------------------------------- -->
  <div class="flex-fill mt-3">
    <!-- ------------------------------ add card ------------------------------- -->
    <div *ngIf="!jobs" class="h-100 text-info text-align-center d-flex align-items-center justify-content-center">
      <app-add-button (click)="onAddMode()">
        <span [innerHtml]="'job.no_jobs_created' | translate"></span>
      </app-add-button>
    </div>

    <div class="card rounded-12 border-0 mb-3">
      <div class="card-body">
        <header class="d-flex gap-3 flex-wrap justify-content-between align-items-center">
          <div class="col-12 col-sm-4">
            <div class="input-group">
              <span class="input-group-text border-0 bg-transparent" id="search">
                <ion-icon name="search"></ion-icon>
              </span>
              <input type="text" class="form-control" [placeholder]="'search' | translate" aria-label="search"
                aria-describedby="search" [(ngModel)]="searchKey" />
            </div>
          </div>

          <div class="d-flex col-12 col-sm justify-content-between justify-content-sm-end gap-3">
            <div>
              <select class="form-select" (change)="onOrderChange($event)">
                <option [ngValue]="null" [disabled]="true" translate="order_by" selected></option>
                <option *ngFor="let item of orderList" [value]="item.key" [translate]="item.name"></option>
              </select>
            </div>
            <button *ngIf="false" type="button"
              class="btn d-flex text-info gap-2 align-items-center rounded-m rounded-8 bg-info-o">
              <i class="fa-solid fa-sliders"></i>
              {{ "filtration" | translate }}
            </button>
          </div>
        </header>
        <hr />
        <div class="table-responsive text-primary">
          <table class="table table-striped table-borderless">
            <thead>
              <tr>
                <th scope="col" translate="job.job_title"></th>
                <th scope="col" translate="job.site_name"></th>
                <th scope="col" translate="job.vacancies"></th>
                <!-- <th scope="col" translate="job.applications_received"></th> -->
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="c-pointer" *ngFor="
                  let job of jobs.data
                    | filter: searchKey
                    | paginate
                      : {
                          itemsPerPage: pageSize,
                          currentPage: pageNumber,
                          totalItems: jobs.totalCount,
                          id: 'jobs'
                        }
                ">
                <td>
                  {{
                  (isAr | async) ? job.jobDescription : job.jobDescriptionEN
                  }}
                </td>
                <td class="text-nowrap">{{ job.locationName }}</td>
                <td>{{ job.openJobNumber }}</td>
                <!-- <td>{{ job.jobApplications.length }}</td> -->
                <td>
                  <div class="d-flex gap-2 justify-content-end">
                    <button (click)="getJobDetails(job.id)" type="button"
                      class="btn rounded-8 bg-info-o text-info edit">
                      <i class="fa-solid fa-info"></i>
                    </button>
                    <button (click)="onEditMode(job)" type="button"
                      class="btn rounded-8 bg-primary-o text-primary edit">
                      <i class="fa-solid fa-pen"></i>
                    </button>
                    <button (click)="onDeleteMode(job)" type="button"
                      class="btn rounded-8 bg-danger-o text-danger delete">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <tr *ngIf="!jobs.data.length">
                <td colspan="5">
                  <h6 class="text-align-center fw-500 text-danger" translate="no_data_to_show"></h6>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <hr />

        <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
          <div class="text-info d-flex gap-3 align-items-center">
            <label class="fw-500" translate="for_page"></label>
            <div>
              <select class="form-select" (change)="onPageSizeChange($event)">
                <option *ngFor="let size of sizes" [selected]="size == pageSize">
                  {{ size }}
                </option>
              </select>
            </div>
          </div>

          <pagination-controls id="jobs" (pageChange)="onPageNumberChange($event)"
            (pageBoundsCorrection)="onPageNumberChange($event)" [maxSize]="3" [responsive]="true" [previousLabel]="''"
            [nextLabel]="''" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<public-api-canvas [id]="addJobCanvas">
  <form [formGroup]="jobForm" #form="ngForm" (ngSubmit)="onSubmit()" class="f-container">
    <div class="form">
      <h5 *ngIf="!selectedJob" class="text-align-center fw-600 mt-2 mb-4" translate="job.create_new_job"></h5>
      <h5 *ngIf="selectedJob" class="text-align-center fw-600 mt-2 mb-4" translate="job.edit_job"></h5>

      <div class="mb-3">
        <p-dropdown styleClass=" w-100" [options]="jobTypes" optionLabel="name" optionValue="id"
          [placeholder]="'job.job_type' | translate" formControlName="jobTypeId"></p-dropdown>

        <div class="error-message" *ngIf="controls['jobTypeId']?.invalid && form.submitted">
          <i class="fa-solid fa-circle-exclamation"></i>
          {{ "validation.field_required" | translate }}
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="desc" style="height: 140px"
            formControlName="jobDescription"></textarea>
          <label for="desc" translate="job.job_description"></label>
        </div>
        <div class="error-message" *ngIf="controls['jobDescription']?.invalid && form.submitted">
          <i class="fa-solid fa-circle-exclamation"></i>
          {{ "validation.field_required" | translate }}
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating mb-3">
          <textarea class="form-control" placeholder="Leave a comment here" id="desc" style="height: 140px"
            formControlName="jobReqiurement"></textarea>
          <label for="desc" translate="job.job_requirements"></label>
        </div>
        <div class="error-message" *ngIf="controls['jobReqiurement']?.invalid && form.submitted">
          <i class="fa-solid fa-circle-exclamation"></i>
          {{ "validation.field_required" | translate }}
        </div>
      </div>

      <div class="mb-3">
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="descEN" style="height: 140px"
            formControlName="jobDescriptionEN"></textarea>
          <label for="descEN" translate="job.job_descriptionEN"></label>
        </div>
        <div class="error-message" *ngIf="controls['jobDescriptionEN']?.invalid && form.submitted">
          <i class="fa-solid fa-circle-exclamation"></i>
          {{ "validation.field_required" | translate }}
        </div>
      </div>
      <div class="mb-3">
        <div class="form-floating mb-3">
          <textarea class="form-control" placeholder="Leave a comment here" id="descEN" style="height: 140px"
            formControlName="jobReqiurementEN"></textarea>
          <label for="descEN" translate="job.job_requirementsEN"></label>
        </div>
        <div class="error-message" *ngIf="controls['jobReqiurementEN']?.invalid && form.submitted">
          <i class="fa-solid fa-circle-exclamation"></i>
          {{ "validation.field_required" | translate }}
        </div>
      </div>

      <div style="height: 250px" class="mb-3">
        <public-api-map-search (coordinates)="onLocationListener($any($event))" class="map mb-3"></public-api-map-search>
        <div class="error-message" *ngIf="controls['locationName']?.invalid && form.submitted">
          <i class="fa-solid fa-circle-exclamation"></i>
          {{ "validation.field_required" | translate }}
        </div>
      </div>

      <div class="row row-cols-1 g-3">
        <div>
          <p-dropdown [options]="shifts" class="grid-item" styleClass="w-100" optionLabel="name" optionValue="id"
            [placeholder]="'shift' | translate" formControlName="shiftTypeId"></p-dropdown>

          <div class="error-message" *ngIf="controls['shiftTypeId']?.invalid && form.submitted">
            <i class="fa-solid fa-circle-exclamation"></i>
            {{ "validation.field_required" | translate }}
          </div>
        </div>
        <div>
          <div class="form-floating w-auto">
            <input type="number" class="form-control" id="openJobNumber" placeholder="data"
              formControlName="openJobNumber" />
            <label for="openJobNumber" translate="job.open_vacancy"></label>
          </div>

          <div class="error-message" *ngIf="controls['openJobNumber']?.invalid && form.submitted">
            <i class="fa-solid fa-circle-exclamation"></i>
            <span *ngIf="controls['openJobNumber']?.errors.required">
              {{ "validation.field_required" | translate }}
            </span>
            <span *ngIf="controls['openJobNumber']?.errors.pattern">
              {{ "validation.not_valid_to_use" | translate }}
            </span>
          </div>
        </div>

        <div>
          <div class="form-floating w-auto">
            <input type="number" class="form-control" id="openJobNumber" placeholder="data"
              formControlName="experinceReqiured" />
            <label for="openJobNumber" translate="job.required_experience"></label>
          </div>

          <div class="error-message" *ngIf="controls['experinceReqiured']?.invalid && form.submitted">
            <i class="fa-solid fa-circle-exclamation"></i>
            <span *ngIf="controls['experinceReqiured']?.errors.required">
              {{ "validation.field_required" | translate }}
            </span>
            <span *ngIf="controls['experinceReqiured']?.errors.pattern">
              {{ "validation.not_valid_to_use" | translate }}
            </span>
          </div>
        </div>

        <div>
          <p-dropdown [options]="genders" class="grid-item" styleClass="w-100" optionLabel="name" optionValue="id"
            formControlName="genderId" [placeholder]="'job.preferred_gender' | translate"></p-dropdown>

          <div class="error-message" *ngIf="controls['genderId']?.invalid && form.submitted">
            <i class="fa-solid fa-circle-exclamation"></i>
            {{ "validation.field_required" | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="buttons mt-5 mb-2 d-flex justify-content-end">
      <button translate="save_changes" type="submit" class="btn px-4 py-2 rounded-8 btn-primary"></button>
    </div>
  </form>
</public-api-canvas>

<!-- ------------------------------- delete -------------------------------- -->
<public-api-modal classList="modal-dialog-centered" [id]="modalID">
  <img src="assets/images/svg/delete.svg" alt="" class="mb-3" srcset="" />
  <h4 class="fw-700" translate="job.are_you_sure_about_deleting_job"></h4>
  <p class="mt-2 text-info" translate="cancel_this_operation"></p>

  <div class="d-flex justify-content-end gap-2">
    <button type="button" data-bs-dismiss="modal" class="btn rounded-8 px-4 py-2 btn-light" translate="cancel"
      (click)="selectedJob = null"></button>
    <button translate="yes_delete" (click)="onDelete()" type="button"
      class="btn rounded-8 px-4 py-2 btn-danger"></button>
  </div>
</public-api-modal>

<public-api-modal [id]="successAlert" classList="modal-dialog-centered">
  <img width="50" src="assets/images/icons/checked.png" alt="" class="mb-3" />
  <h4 class="fw-700" translate="created_successfully"></h4>
  <p class="mt-2 text-info" translate="waiting_to_approve_by_main_branch"></p>

  <div class="d-flex justify-content-end gap-2">
    <button translate="continue" data-bs-dismiss="modal" type="button"
      class="btn rounded-8 px-4 py-2 btn-primary text-white"></button>
  </div>
</public-api-modal>