<div class="row g-4">
  <div class="col-lg-8 col-md-12">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div>
        <div translate="bank_name" class="text-info mb-2"></div>
        <div>Cyprus National Bank LTD.</div>
      </div>
      <div>
        <div translate="account_holder_name" class="text-info mb-2"></div>
        <div>Steve Smith</div>
      </div>
      <div>
        <div translate="account_name" class="text-info mb-2"></div>
        <div>998-9652-633-4652</div>
      </div>
      <div>
        <div translate="IBAN_number" class="text-info mb-2"></div>
        <div>AE330039917424915459439</div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div
      class="d-flex rounded-8 justify-content-between gap-2 align-items-center p-2 bg-info-o"
    >
      <div class="d-flex align-items-center gap-3">
        <div class="bg-warning icon flex-shrink-0">
          <img
            class="id obj-contain"
            alt="id proof"
            onerror="this.src = 'assets/images/icons/file.png'"
          />
        </div>

        <div>
          <div class="text-info mb-1 fs-14" translate="id_proof"></div>
          <div class="text-primary fs-18 fw-700">
            9600a2b0-e9ee-4163-8f6a-550d28d35cfe.jfif
          </div>
        </div>
      </div>

      <div>
        <a
          type="button"
          target="_blank"
          class="btn btn-info rounded-8 text-white"
          translate="show"
        >
        </a>
      </div>
    </div>
  </div>
</div>
