<div class="h-100 py-3 container d-flex flex-column">
  <div class="mt-4 flex-grow-1 d-flex flex-column">
    <ul class="nav sub-nav nav-tabs mb-3">
      <ng-container *ngFor="let link of links">
        <li *appRole="link.roles" class="nav-item">
          <a
            [routerLink]="[link.link]"
            routerLinkActive="router-link-active"
            class="nav-link"
            routerLinkActive="active"
            >{{ "job." + link.name | translate }}
          </a>
        </li>
      </ng-container>
    </ul>

    <div class="flex-grow-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
