<div class="row g-4">
    <div class="col-xl-3 col-lg-4">
        <div id="nav-card" class="card rounded-10 px-2  py-lg-3 py-2 border-0">
            <ul class="nav sidebar flex-column gap-2 flex-nowrap overflow-auto">
                <ng-container *ngFor="let item of sidebarList">
                    <li *appRole="item.role!" [routerLink]="[item.link]" routerLinkActive="active" class="nav-item">
                        <img *ngIf="item.image" [src]="item.image" width="24" height="24">
                        <i [class]="item.icon" *ngIf="item.icon"></i>
                        <a class="nav-link fs-6" [translate]="item. name"></a>
                    </li>
                </ng-container>

            </ul>
        </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-12">
        <router-outlet></router-outlet>
    </div>
</div>