<div class="card border-0 rounded-0">
  <div class="card-body">
    <div class="position-absolute badge-position d-none d-md-block">
      <public-api-status-badge [status]="data.orderStatus" *ngIf="data.orderStatus"></public-api-status-badge>
    </div>
    <div class="row align-items-center">
      <div class="d-flex gap-3">
        <img width="60" height="60" class="rounded-10 obj-cover" [src]="data.securityCompany?.companyLogo?.fullLink"
          [title]="data.securityCompany?.name" onerror="this.src = 'assets/images/icons/error.png'" />

        <div>
          <h5 class="text-primary fw-500">{{ data.securityCompany?.name }}</h5>
          <div class="lim fs-14 text-info">
            {{ data.securityCompany?.address }}
          </div>
        </div>
      </div>

      <div class="mt-3 align-items-center row row-cols-lg-4 row-cols-2">
        <div>
          <h6 class="fw-600 text-info" translate="clients.required_guards"></h6>
          <p class="text-primary fw-500">{{ data.numberOfGurads }}</p>
        </div>
        <div>
          <h6 class="fw-600 text-info" translate="clients.required_supervisors"></h6>
          <p class="text-primary fw-500">{{ data.numberOfSupervisors }}</p>
        </div>
        <div>
          <h6 class="fw-600 text-info" translate="from"></h6>
          <p class="text-primary fw-500">{{ data.startDate.split(" ")[0] }}</p>
        </div>
        <div>
          <h6 class="fw-600 text-info" translate="to"></h6>
          <p class="text-primary fw-500">{{ data.endDate.split(" ")[0] }}</p>
        </div>
      </div>
    </div>
    <div>
      <h6 class="fw-600 text-info" translate="location"></h6>
      <p class="text-primary fw-500">{{ data.location }}</p>
    </div>
    <div class="d-block d-md-none">
      <public-api-status-badge [status]="data.orderStatus" *ngIf="data.orderStatus"></public-api-status-badge>
    </div>
    <div class="float-end d-flex gap-2" *ngIf="showControls && data.orderStatus?.value  == 1">
      <button (click)="refused.emit()" type="button" class="btn bg-info-o rounded-8" translate="refuse"></button>
      <button (click)="accept.emit()" type="button" class="btn btn-primary rounded-8" translate="accept"></button>
    </div>
  </div>
</div>