<div class="container">
  <span class="badge bg-info rounded-10 fs-6 py-2 fw-normal" [innerHtml]="
      'step_number' | translate: { stepOrder: step.order, totalSteps: length }
    "></span>
  <h5 class="mt-3 fw-bold">{{ "steps." + step.title | translate }}</h5>
  <p class="text-info">
    {{ "personal_details_step_info" | translate }}
  </p>

  <form [formGroup]="otherForm" #form="ngForm" (ngSubmit)="onSubmit()" class="mt-4">
    <div>
      <div class="row g-4">
        <div class="col-12">
          <p-multiSelect [options]="services" [defaultLabel]="'services_available' | translate" optionLabel="name"
            optionValue="id" display="chip" styleClass="w-100" formControlName="availableServicesIds"></p-multiSelect>
          <div class="error-message" *ngIf="controls['availableServicesIds']?.invalid && form.submitted"
            [innerHtml]="'validation.services_required' | translate"></div>
        </div>

        <div class="col-md-6">
          <div class="form-floating">
            <input id="company-website" type="text" class="form-control" placeholder="data" formControlName="website" />
            <label for="company-website">
              {{ "company_website" | translate }}
            </label>
          </div>
          <div *ngIf="controls['website'].invalid && form.submitted">
            <div class="error-message" *ngIf="controls['website']?.errors.required"
              [innerHtml]="'validation.company_website_required' | translate"></div>
            <div class="error-message" *ngIf="controls['website'].errors?.pattern"
              [innerHtml]="'validation.social_media_link_invalid' | translate"></div>
          </div>
        </div>

        <div class="col-md-6">
          <p-dropdown [options]="scale" [placeholder]="'company_scale' | translate" optionLabel="name" optionValue="id"
            styleClass="w-100" formControlName="companyScaleId"></p-dropdown>
          <div class="error-message" *ngIf="controls['companyScaleId']?.invalid && form.submitted"
            [innerHtml]="'validation.company_scale_required' | translate"></div>
        </div>

        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" formControlName="socialMediaLink" placeholder="data" />
            <label>
              {{ "social_media_link1" | translate }}
            </label>
          </div>

          <div *ngIf="controls['socialMediaLink'].invalid && form.submitted">
            <div class="error-message" *ngIf="controls['socialMediaLink'].errors?.required"
              [innerHtml]="'validation.social_media_link_required' | translate"></div>
            <div class="error-message" *ngIf="controls['socialMediaLink'].errors?.pattern"
              [innerHtml]="'validation.social_media_link_invalid' | translate"></div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" placeholder="data" formControlName="socialMediaLink2" />
            <label>
              {{ "social_media_link2" | translate }}
            </label>
          </div>
          <div class="error-message" *ngIf="controls['socialMediaLink2'].errors?.pattern"
            [innerHtml]="'validation.social_media_link_invalid' | translate"></div>
        </div>

        <div class="col-12 mb-3">
          <div style="height: 250px">
            <public-api-map-search (coordinates)="onLocationListener($any($event))" class="map mb-3"></public-api-map-search>
            <div class="error-message" *ngIf="controls['address']?.invalid && form.submitted"
              [innerHtml]="'validation.company_address_required' | translate"></div>
          </div>
        </div>

        <div class="col-12">
          <div class="form-floating">
            <textarea type="text" class="form-control" placeholder="data" style="height: 120px" rows="5"
              formControlName="businessDescription"></textarea>
            <label>
              {{ "business_description" | translate }}
            </label>
          </div>
          <div class="error-message" *ngIf="controls['businessDescription']?.invalid && form.submitted"
            [innerHtml]="'validation.business_description_required' | translate"></div>
        </div>
      </div>

      <div class="d-flex gap-3 mt-5" [ngClass]="{
          'justify-content-between': step.prev,
          'justify-content-end': !step.prev
        }">
        <button *ngIf="step.prev" type="button" class="btn btn-light bg-info-o text-info rounded-8 px-4 py-2"
          [routerLink]="['/' + module + '/' + step.prev]">
          {{ "previous_step" | translate }}
        </button>
        <button *ngIf="step.next" type="submit" class="btn btn-primary rounded-8 px-4 py-2">
          {{ "next_step" | translate }}
        </button>
        <button *ngIf="!step.next && step.order === length" type="button" class="btn btn-primary rounded-8 px-4 py-2">
          {{ "submit" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>