<div class="py-5 bg-primary">
  <div class="container">
    <div class="row g-4">
      <div class="col-xl-4 col-md-4">
        <img src="assets/images/logo.png" width="160" class="mb-4" alt="" />
        <div class="text-info mb-4 fs-14">
          {{ "footer_description" | translate }}
        </div>
        <h6 class="text-white text-capitalize mb-3 fw-600">
          {{ "follow_us" | translate }}
        </h6>
        <ul class="nav social">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa-brands fa-facebook"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xl-2 col-6 col-md-4 fs-14">
        <h6 class="text-capitalize text-white fw-600 mb-4">
          {{ "about_us" | translate }}
        </h6>
        <ul class="list">
          <li>
            <a href="">
              {{ "faqs" | translate }}
            </a>
          </li>
          <li>
            <a href="">
              {{ "helpful" | translate }}
            </a>
          </li>
          <li>
            <a href="">
              {{ "privacy" | translate }}
            </a>
          </li>
          <li>
            <a href="">
              {{ "security" | translate }}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xl-2 col-md-3 col-6 fs-14">
        <h6 class="text-capitalize text-white fw-600 mb-4">
          {{ "for_work" | translate }}
        </h6>
        <ul class="list">
          <li>
            <a href="">
              {{ "jobs" | translate }}
            </a>
          </li>
          <li>
            <a href="">
              {{ "companies" | translate }}
            </a>
          </li>
          <li>
            <a href="">
              {{ "services" | translate }}
            </a>
          </li>
          <li>
            <a href="">
              {{ "types" | translate }}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xl-4 col-md-6 fs-14">
        <h6 class="text-capitalize text-white fw-600 mb-4">
          {{ "news" | translate }}
        </h6>
        <p class="text-info col-md-5">
          {{ "get_all_updates" | translate }}
        </p>
        <div class="input-group mb-3">
          <input
            type="email"
            class="form-control placeholder-sm"
            placeholder="{{ 'emil' | translate }}"
            aria-label="Enter your email address"
            aria-describedby="button-search"
          />
          <button
            class="btn btn-warning text-white rounded-8"
            type="button"
            id="button-search"
          >
            <i class="fa-solid fa-arrow-right-long rtl-flip"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
