@import "libs/assets/styles/variables.scss";

.auth-side {
  background: url("/assets/images/bgs/pattern.png") $primary-color;
  background-repeat: repeat-x;
  background-size: 100%;
  background-position: bottom;
  position: relative;

  left: auto;
  right: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(/assets/images/takid2030.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center 37%;
  }

  :host-context(.ar) & {
    position: absolute;
    left: 0;
    right: auto;
  }
}
